@font-face {
    font-family: 'Asiyah Script';
    src: url('./css/font/AsiyahScript.eot');
    src: url('./css/font/AsiyahScript.eot?#iefix') format('embedded-opentype'),
        url('./css/font/AsiyahScript.woff2') format('woff2'),
        url('./css/font/AsiyahScript.woff') format('woff'),
        url('./css/font/AsiyahScript.ttf') format('truetype'),
        url('./css/font/AsiyahScript.svg#AsiyahScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}
h1,h2,h3,h4,h5,h6{
	 font-family: 'Asiyah Script';
	font-weight: normal;
}
.carousel-bg-1{
	background-image: url(img/top-10-chain-restaurants-usa-2019-1024x600.jpg);
}

/*========================   Nav manu ==================*/

html,body {
  height: 100%;
}
.single-carousel-item {
  height: 100%;
  display: table;
  width: 100%;
}
.carousel-item-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.carousel-item-tablecell h1 {
  font-size: 150px;
  margin-bottom: 0;
}
.box-btn {
  background: #d8075e;
  color: #fff;
  padding: 10px 38px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 5px;
}
.carousel-bg-1 {
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}

.home-page-slide, .home-page-slide div {
  height: 100%;
}
.home-page-slide div.carousel-item-tablecell,.home-page-slide div.carousel-item-tablecell div {
  height: auto;
}
.home-page-slide div .owl-nav,.home-page-slide div.owl-nav div {
  height: auto;
}
.home-page-slide div .owl-dots,.home-page-slide div.owl-dots div {
  height: auto;
}






